#nav__main {
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 0;
  z-index: 100;
}

#nav__top {
  height: 2rem;
  padding-top: 4px;
  width: 100%;
  background-color: rgb(62, 14, 107);
  color: white;
  text-align: center;
}

#nav__medium {
  display: grid;
  grid-template-columns: 10% 44% 16% 21%;
  align-items: center;
  column-gap: 2%;
  padding: 1rem;
  background-color: rgb(245, 249, 255);
}

#nav__logo {
  height: 100%;
  width: 100%;
  margin-left: 40px;
}

#nav__menu {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 0.9rem;
}
#nav__menu > div {
  display: flex;
  align-items: center;
  gap: 0.7rem;
}
#nav__menu > div {
  font-size: 13px;
  color: #4f3267;
}
.nav__icone__logo {
  font-size: 1.4rem;
}

#nav__search {
  display: flex;
  align-items: center;
}
#nav__search > input {
  padding-left: 10px;
  height: 2rem;
  width: 85%;
  border: 1px solid #5c36cf;
  border-radius: 5px 0 0 5px;
}
#nav__search > input:focus {
  outline: none;
}
#nav__search > button {
  height: 2rem;
  width: 15%;
  border: none;
  background: linear-gradient(to right, #de57e5 0%, #8863fb 100%);
  border-radius: 0 5px 5px 0;
}
.nav__icone__search {
  font-size: 1.4rem;
  color: white;
  margin-left: 5px;
}

/* navbar authorization menu css */

#nav__auth__menu {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 1.8rem;
  /* border: 1px solid red; */
  align-items: center;
}
#nav__auth__menu > div:nth-child(2) {
  display: grid;
  grid-template-columns: repeat(4, 1fr);

  gap: 1.8rem;
}
#nav__auth__menu > div:nth-child(1) {
  /* margin-top: 8px; */
  display: flex;
  align-items: center;
  /* border: 1px solid red; */
}
#nav__auth__menu > div:nth-child(1) > p {
  font-size: 13px;
  font-weight: bold;
  color: #1d1632;
  margin-top: 13px;
}

.nav__auth__icone {
  font-size: 1.5rem;
  align-items: center;
}
#nav__auth__menu > div:nth-child(2) > div:nth-child(1) {
  border-radius: 50%;
  width: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.flag {
  width: 140%;
  height: 100%;
}
.nav__icon {
  font-size: 1.5rem;
}

#nav__bottom {
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  margin: auto;
  width: 100%;
  display: flex;
  justify-content: space-around;
  position: relative;
  background-color: white;
}

@media only screen and (min-width: 1110px) {
  #hamburger {
    display: none;
  }
  .hamburger-icon {
    display: none;
  }
  #nav__menu {
    display: flex;
  }
}

@media only screen and (max-width: 1109px) {
  #nav__menu {
    display: none;
  }
  #hamburger {
    display: none;
  }
  .nav__auth__icone {
    display: none;
  }
  .nav__auth__icone ~ p {
    display: none;
  }
  .flag {
    display: none;
  }
  .Avatar {
    display: none;
  }
  #nav__medium {
    display: grid;
    grid-template-columns: 10% 10% 46% 21%;
    align-items: center;
    column-gap: 2%;
    padding: 1rem;
    background-color: rgb(245, 249, 255);
  }
  /* Show menu items when hamburger menu is clicked */
  #hamburger:checked ~ #nav__menu {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 99;
    height: auto;
    background-color: #f5f9ff;
    padding: 0.8rem;
  }
  .hamburger-icon {
    font-size: larger;
    width: 40px;
    margin-left: 20px;
  }
  .nav__icone__search {
    margin-left: 14px;
  }
  #hamburger:checked ~ #nav__menu > div {
    margin: 0.5rem 0;
    text-align: center;
  }
  #hamburger:checked ~ #nav__menu > div > a {
    color: #4f3267;
  }
  #hamburger:checked ~ #nav__menu > div > a:hover {
    color: #8863fb;
  }
}

@media (max-width: 798px) {
  .hamburger-icon {
    margin-left: 20px;
  }
}

@media (max-width: 673px) {
  .hamburger-icon {
    margin-left: 20px;
  }
  #heart {
    display: none;
  }
  #nav__medium {
    display: grid;
    grid-template-columns: 10% 10% 45% 0%;
    align-items: center;
    column-gap: 2%;
    padding: 1rem;
    background-color: rgb(245, 249, 255);
  }
  .nav__icone__search {
    margin-left: 6px;
  }
}

@media (max-width: 594px) {
  .hamburger-icon {
    margin: 0px 20px;
  }
  #cart {
    display: none;
  }
}
